<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>

<body>
    <%- include('./partials/nav') %>
    <h1>Full Menu</h1>
    <% const mainsArray = menu.filter((item) => item.category === 'mains'); %>
    <% const sidesArray = menu.filter((item) => item.category === 'sides'); %>
    <% const dessertsArray = menu.filter((item) => item.category === 'desserts'); %>

    <!-- to do: research how to get html from a function -->

    <h2> Mains </h2> 
    <% mainsArray.forEach((item, index) => { %>
        <ul>
            <li>
                Item name: <%= item.name %>
            </li>
            <li>
            Item price: <%= item.price %>
            </li>
            <li>
                Item rating: <%= item.rating %>
            </li>
            <li>
                Item details: <%= item.details %>
            </li>
        </ul>
    <% }); %> 
    <h2> Sides </h2> 
    <% sidesArray.forEach((item, index) => { %>
        <ul>
            <li>
                Item name: <%= item.name %>
            </li>
            <li>
            Item price: <%= item.price %>
            </li>
            <li>
                Item rating: <%= item.rating %>
            </li>
            <li>
                Item details: <%= item.details %>
            </li>
        </ul>
    <% }); %> 
    <h2> Desserts </h2> 
    <% dessertsArray.forEach((item, index) => { %>
        <ul>
            <li>
                Item name: <%= item.name %>
            </li>
            <li>
            Item price: <%= item.price %>
            </li>
            <li>
                Item rating: <%= item.rating %>
            </li>
            <li>
                Item details: <%= item.details %>
            </li>
        </ul>
    <% }); %> 
</body>

</html>